
  <!-- Footer -->
  <footer class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h4><i class="fas fa-phone"></i> Sebarang Pertanyaan Boleh Menghubungi</h4>
          <p class="text-sm mb-1"><strong>Negeri Sembilan :</strong> 06-6771352</p>
          <p class="text-sm mb-1"><strong>Melaka :</strong> 06-333 3333 samb 5630 / 5631 / 5634</p>
          <p class="text-sm mb-1"><strong>Perlis :</strong> 04-979 4401</p>
          <p class="text-sm mb-1"><strong>Kedah :</strong> 04-774 5530 / 5423 / 5424</p>
          <p class="text-sm mb-1"><strong>Perak :</strong> 05-208 4853</p>
          <p class="text-sm mb-1"><strong>WP :</strong> 03-2274 9333 samb 3312 / 3306</p>
          <p class="text-sm mb-1"><strong>JAKIM :</strong> 03-8870 7527 / 7528</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h4><i class="fas fa-clock"></i> Waktu Beroperasi</h4>
          <p class="text-sm mb-1">09:00 pagi - 04:00 petang</p>
        </div>
        <div class="col-md-4">
          <h4><i class="fas fa-envelope"></i> Email</h4>
          <p class="text-sm mb-1">hdsppim@islam.gov.my</p>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-xl-between text-center">
        <div class="col-xl-12">
          <div class="copyright text-dark">
            <p>
            <small>
            DISCLAIMER: Kerajaan Malaysia tidak bertanggungjawab atas kerugian atau kerosakan yang disebabkan oleh penggunaan dari setiap maklumat yang diperolehi daripada portal ini.
            </small>
            </p>     
          </div>
        </div>
        <div class="col-xl-12">
          <p class="text-dark mb-0"><strong>&copy; 2012-2020 JAKIM. All rights reserved.</strong></p>
        </div>
      </div>
    </div>
  </footer>
