{% extends "layouts/base-fullscreen.html" %}

{% block title %} SISTEM ADUAN@SPPIM {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 py-9">
    <div class="row">
      <div class="col-md-3"><a href="" class="btn btn-lg btn-info w-100">Log Masuk Pengguna</a></div>
      <div class="col-md-3"><a href="" class="btn btn-lg btn-info w-100">Daftar Pengguna Baru MyNCR</a></div>
      <div class="col-md-3"><a href="" class="btn btn-lg btn-info w-100">Aduan Baru</a></div>
      <div class="col-md-3"><a href="" class="btn btn-lg btn-info w-100">Semakan Status Aduan</a></div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
