{% extends "layouts/base-sub.html" %}

{% block title %} Permohonan Kebenaran Berkahwin Online {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container">
			<div class="row">
        <div class="col-lg-8">
          <div class="card bg-primary text-white">
            <!-- Card header -->
            <div class="card-header bg-primary text-white">
              <!-- Title -->
              <h5 class="h3 mb-0 text-white">Permohonan Kebenaran Berkahwin Online</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Pasangan yang ingin melangsungkan pernikahan mestilah melakukan permohonan dan mendapatkan kebenaran berkahwin melalui Pejabat Agama Islam Daerah (PAID) di negeri masing-masing. Permohonan Kebenaran Berkahwin Online adalah satu inisiatif Jakim dengan kerjasama Jabatan Agama Islam negeri - negeri bagi tujuan memberikan kemudahan kepada masyarakat umumnya dan pasangan yang ingin melangsungkan perkahwinan khususnya memohon kebenaran pernikahan.</p>
              <p class="mb-0">Permohonan Kebenaran Berkahwin Online pada masa ini hanya meliputi permohonan yang dibuat di Negeri Sembilan, Melaka, Perlis, Kedah, Perak dan Wilayah Persekutuan namun kemudahan ini akan terus diperluaskan bagi merangkumi negeri-negeri lain di dalam masa yang terdekat.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-white">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">Carian</h5>
            </div>
            <div class="card-body">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label w-100" for="validationDefault01">No Pengenalan @ Email</label>
                      <input type="text" class="form-control" id="validationDefault01" placeholder="No Pengenalan @ Email" required="">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label w-100" for="validationDefault01">No Rujukan Permohonan</label>
                      <input type="text" class="form-control" id="validationDefault01" placeholder="No Rujukan Permohonan" required="">
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary w-75" type="submit"><i class="fas fa-search"></i> Cari</button>
                </div>
              </form>
              <p class="text-center mt-3"><a href="{% url 'lupa_no_rujukan' %}">Lupa No. Rujukan</a></p>
              <hr>
              <p class="text-sm text-center">Atau klik di bawah untuk permohonan baru</p>
              <div class="text-center">
                <a href="{% url 'bno_baru_1' %}" class="btn btn-primary w-75" data-toggle="modal" data-target="#modal-bno-baru">Permohonan Baru</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Modals -->
  {% include "modals/modal-bno-baru.html" %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
