{% extends "layouts/base-sub.html" %}

{% block title %} Permohonan NCR Luar Negara {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container">
			<div class="row">
        <div class="col-lg-12">
          <div class="card bg-primary text-white">
            <!-- Card header -->
            <div class="card-header bg-primary text-white">
              <!-- Title -->
              <h5 class="h3 mb-0 text-white">Permohonan NCR Luar Negara</h5>
            </div>
            <div class="card-body">
              <p class="card-text mb-4">Modul NCR Luar Negara bertujuan untuk memberi kemudahan kepada pasangan rakyat Malaysia beragama Islam yang ingin menguruskan perihal perkahwinan, perceraian dan rujuk yang berlaku di luar negara melalui Pejabat Perwakilan Malaysia. Sila pilih perihal urusan yang diperlukan mengikut penerangan dan butang di bawah:</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-white">
            <!-- Card header -->
            <div class="card-header bg-gradient-default">
              <!-- Title -->
              <h5 class="h3 mb-0 text-center text-white">PENGESAHAN KEBENARAN & STATUS</h5>
            </div>
              <div class="card-body">
                <div style="overflow-y:auto;height:200px;">
                  <p class="text-sm">Pengesahan ke atas Dokumen Kebenaran Berkahwin atau pengesahan status diri pemohon sama ada belum atau telah berkahwin dan tiada halangan untuk berkahwin dari pejabat kedutaan. Permohonan ini hanya diproses selepas pemohon mendapat Surat Kebenaran Berkahwin dari Jabatan Agama Islam Negeri. Sila klik di bawah untuk memohon.</p>
                </div>
                <hr>
                <button class="btn btn-primary w-100">Pengesahan Kebenaran & Status</button>
              </div>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-white">
            <!-- Card header -->
            <div class="card-header bg-gradient-default">
              <!-- Title -->
              <h5 class="h3 mb-0 text-center text-white">PENGESAHAN DOKUMEN NIKAH</h5>
            </div>
              <div class="card-body">
                <div style="overflow-y:auto;height:200px;">
                  <p class="text-sm">Pengesahan Dokumen Pernikahan adalah merupakan satu perakuan daripada Pejabat Perwakilan Malaysia terhadap mana-mana dokumen pernikahan yang telah dikeluarkan oleh Badan, Majlis atau Institusi Agama di luar negara yang menguruskan perkahwinan pasangan berkenaan. Pengesahan ini tidak mengesahkan keabsahan perkahwinan dari sudut syarak. Sila klik di bawah untuk memohon.</p>
                </div>
                <hr>
                <button class="btn btn-primary w-100">Pengesahan Nikah</button>
              </div>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-white">
            <!-- Card header -->
            <div class="card-header bg-gradient-default">
              <!-- Title -->
              <h5 class="h3 mb-0 text-center text-white">KETERANGAN NCR</h5>
            </div>
              <div class="card-body">
                <div style="overflow-y:auto;height:200px;">
                  <p class="text-sm">Keterangan Nikah, Cerai dan Rujuk adalah dokumen yang dikeluarkan oleh Pejabat Perwakilan Malaysia berdasarkan maklumat daripada Surat Perakuan Nikah, Surat Perakuan Cerai atau Surat Persekedudukan Semula (Ruju') yang dikeluarkan oleh Jabatan Agama Islam Negeri untuk kegunaan semasa tinggal di negara berkenaan. Sila klik di bawah untuk memohon.</p>
                </div>
                <hr>
                <button class="btn btn-primary w-100">Keterangan NCR</button>
              </div>
            
          </div>
        </div>
      </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
