{% extends "layouts/base-main.html" %}

{% block title %} Panduan Perkahwinan {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container">
    <h1 class="text-white text-center">Panduan Perkahwinan</h1>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FATWA ISU-ISU MUNAKAHAT</h4>
            <p class="card-text text-sm">Himpunan keputusan-keputusan Muzakarah Jawatankuasa Fatwa Kebangsaan berkaitan Munakahat. Keputusan-keputusan Muzakarah Jawatankuasa Fatwa ini diputuskan berdasarkan kajian dan penyelidikan mendalam. Keputusan ini dicapai secara bersama oleh Mufti-mufti Seluruh Malaysia yang menganggotai jawatankuasa ini. Himpunan keputusan fatwa ini diharap akan menjadi rujukan dan panduan semua pihak terutama dalam urusan Munakahat</p>
            <p class="card-text text-sm">
              <strong>
              Bahagian Keluarga, Sosial Dan Komuniti
              <br>Jabatan Kemajuan Islam Malaysia (JAKIM)
              <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FATWA ISU-ISU MUNAKAHAT</h4>
            <p class="card-text text-sm">Himpunan keputusan-keputusan Muzakarah Jawatankuasa Fatwa Kebangsaan berkaitan Munakahat. Keputusan-keputusan Muzakarah Jawatankuasa Fatwa ini diputuskan berdasarkan kajian dan penyelidikan mendalam. Keputusan ini dicapai secara bersama oleh Mufti-mufti Seluruh Malaysia yang menganggotai jawatankuasa ini. Himpunan keputusan fatwa ini diharap akan menjadi rujukan dan panduan semua pihak terutama dalam urusan Munakahat</p>
            <p class="card-text text-sm">
              <strong>
                Bahagian Keluarga, Sosial Dan Komuniti
                <br>Jabatan Kemajuan Islam Malaysia (JAKIM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">GARIS PANDUAN BAGI PROSEDUR PENTADBIRAN PERKAHWINAN, PERCERAIAN DAN RUJU'</h4>
            <p class="card-text text-sm">Prosedur Pentadbiran Perkahwinan, Perceraian dan Ruju' ini menggariskan peraturan-peraturan pentadbiran yang perlu diikuti oleh Ketua Pendaftar dan Pendaftar Perkahwinan, Perceraian dan Ruju' dalam melaksanakan Akta/Enakmen/ Ordinan Undang-undang Keluarga Islam Negeri-negeri mengenai perkahwinan, perceraian dan ruju'.</p>
            <p class="card-text text-sm">
              <strong>
                Bahagian Keluarga, Sosial Dan Komuniti
                <br>Jabatatan Kemajuan Islam Malaysia (JAKIM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">GARIS PANDUAN PENGURUSAN PERKAHWINAN, PERCERAIAN DAN RUJU' DI LUAR NEGARA</h4>
            <p class="card-text text-sm">Garis panduan bagi memudahkan pengurusan perkahwinan, perceraian dan ruju' di luar negara. Kerajaan Malaysia telah melantik Pendaftar Perkahwinan, Perceraian dan Ruju' di Kedutaan, Suruhanjaya Tinggi atau Pejabat Konsul di beberapa buah negara. Bagi Kedutaan, Suruhanjaya Tinggi atau Pejabat Konsul di luar negara yang tidak mempunyai Pendaftar Perkahwinan, Perceraian dan Ruju', rakyat Malaysia dibenarkan mendaftarkan perkahwinan, perceraian dan ruju' di Badan-Badan Agama, Majlis Agama Islam atau Pusat Islam yang diiktiraf oleh pihak berkuasa negara berkenaan.</p>
            <p class="card-text text-sm">
              <strong>
                Bahagian Keluarga, Sosial Dan Komuniti
                <br>Jabatan Kemajuan Islam Malaysia (JAKIM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">GARIS PANDUAN UPACARA AKAD NIKAH DI MASJID DAN PERKARA-PERKARA YANG BERKAITAN DENGANNYA</h4>
            <p class="card-text text-sm">Garis Panduan Upacara Akad Nikah Di Masjid dan Perkara-Perkara yang Berkaitan Dengannya disediakan untuk memberi panduan dan rujukan kepada masyarakat Islam di Malaysia mengenai adab semasa melakukan upacara akad nikah di masjid atau surau agar selaras dengan tuntutan Islam.</p>
            <p class="card-text text-sm">
              <strong>
                Bahagian Keluarga, Sosial Dan Komuniti
                <br>Jabatan Kemajuan Islam Malaysia (JAKIM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">PANDUAN PENGURUSAN NIKAH DI MALAYSIA</h4>
            <p class="card-text text-sm">Memberi maklumat dan pendedahan kepada Penolong Pendaftar Perkahwinan, Penceraian dan Ruju' supaya memahami kaedah dan peraturan yang berhubungkait dengan bidang kuasa dan tanggungjawab Penolong Pendaftar Perkahwinan, Penceraian dan Ruju'.</p>
            <p class="card-text text-sm">
              <strong>
                Bahagian Keluarga, Sosial Dan Komuniti
                <br>Jabatan Kemajuan Islam Malaysia (JAKIM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">KEDUDUKAN ANAK TAK SAH TARAF: DARI ASPEK PERUNDANGAN</h4>
            <p class="card-text text-sm">Definisi dan penerangan mengenai anak tak sah tarah mengikut perspektif dan amalan penggubalan undang-undang keluarga Islam (UUKI) Negeri-negeri di Malaysia bersama contoh kes-kes mahkamah yang berkaitan</p>
            <p class="card-text text-sm">
              <strong>
                Abas Bin Nordin
                <br>Jabatan Kehakiman Syariah Malaysia (JKSM)
                <br>2013
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">RUNDINGCARA: JALAN MENGATASI MASALAH KELUARGA</h4>
            <p class="card-text text-sm">Di kalangan masyarakat Islam di Malaysia istilah rundingcara perkahwinan mula diperkenalkan bersama dengan perlaksanaan undang-undang keluarga Islam di awal tahun lapan puluhan. Tetapi pada hakikatnya, rundingcara perkahwinan telah pun diamalkan di kalangan masyarakat Melayu di Malaysia. Tetapi amalan tersebut mungkin tidak menetapkan istilah seperti yang digunakan pada hari ini. Begitu juga dari segi metode dan tekniknya tidaklah sebagaimana yang diamalkan buat masa kini.</p>
            <p class="card-text text-sm">
              <strong>
                Dr. Siti Zulaikha Hj. Mohd. Noor, UKM
                <br>Majalah Sinar Rohani
                <br>2003
              </strong>
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" class="btn btn-primary">Muat turun</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
