{% extends "layouts/base-main.html" %}

{% block title %} Senarai PAID {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container">
    <h1 class="text-white text-center">Senarai PAID</h1>
    <div class="nav-wrapper card p-3 bg-light">
      <ul class="nav nav-pills nav-fill flex-column flex-md-row pt-3" id="tabs-icons-text" role="tablist">
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3 active" id="tabs-1-tab" data-toggle="tab" href="#tabs-1" role="tab" aria-controls="tabs-1" aria-selected="true">
          Johor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-2-tab" data-toggle="tab" href="#tabs-2" role="tab" aria-controls="tabs-2" aria-selected="false">
          Kedah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Kelantan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Melaka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Negeri Sembilan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Pahang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Pulau Pinang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Perak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Perlis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Selangor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Terengganu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Sabah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          Sarawak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 mb-sm-3 mb-md-3" id="tabs-3-tab" data-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="false">
          WP</a>
        </li>
      </ul>
    </div>
    <div class="">
      <div class="">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tabs-1-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH BATU PAHAT</h4>
                    <p class="card-text text-sm">JALAN BAKAU CONDONG,
                      <br>83000 BATU PAHAT
                      <br>JOHOR DARUL TAKZIM
                      <br>83000
                      <br>BATU PAHAT
                      <br>JOHOR
                      <br>Tel : 074341141
                      <br>Fax : 074311003
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH KLUANG</h4>
                    <p class="card-text text-sm">ARAS 2, JALAN PEJABAT KERAJAAN
                      <br>86000
                      <br>KLUANG
                      <br>JOHOR
                      <br>Tel : 07-7728690
                      <br>Fax : 07-7713542
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH JOHOR BAHRU</h4>
                    <p class="card-text text-sm">TINGKAT 1 PUSAT ISLAM ISKANDAR
                      <br>JOHOR,JALAN MASJID ABU BAKAR
                      <br>80990
                      <br>JOHOR BAHRU
                      <br>JOHOR
                      <br>Tel : 07-2282941
                      <br>Fax : 07-2271549
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tabs-2-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">JABATAN HAL EHWAL AGAMA ISLAM KEDAH</h4>
                    <p class="card-text text-sm">BANGUNAN WAN MAT SAMAN
                      <br>JALAN RAJA
                      <br>05676
                      <br>ALOR SETAR
                      <br>KEDAH
                      <br>Tel : 047745400
                      <br>Fax : 047338333
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH KUBANG PASU</h4>
                    <p class="card-text text-sm">BATU 13, JALAN CHANGLUN
                      <br>06000
                      <br>JITRA
                      <br>KEDAH
                      <br>Tel : 049171213
                      <br>Fax : 049178680
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH PADANG TERAP</h4>
                    <p class="card-text text-sm">KOMPLEKS PEJABAT AGAMA DAERAH PADANG TERAP
                      <br>JALAN HOSPITAL
                      <br>06300
                      <br>PADANG TERAP
                      <br>KEDAH
                      <br>Tel : 04-7866219
                      <br>Fax : 04-7868462
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="tabs-3-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">JABATAN HAL EHWAL AGAMA ISLAM NEGERI KELANTAN</h4>
                    <p class="card-text text-sm">KOMPLEKS DARUL NAIM
                      <br>JALAN SULTAN YAHYA PETRA
                      <br>KELANTAN DARUL NAIM
                      <br>18000
                      <br>15200
                      <br>KELANTAN
                      <br>Tel : 09-7419102
                      <br>Fax : 09-7446685
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA JAJAHAN BACHOK</h4>
                    <p class="card-text text-sm">BACHOK
                      <br>KELANTAN DARULNAIM
                      <br>16300
                      <br>BACHOK
                      <br>KELANTAN
                      <br>Tel : 097782522
                      <br>Fax : 09-7780315
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA JAJAHAN KOTA BAHRU</h4>
                    <p class="card-text text-sm">KOMPLEKS ISLAM DARULNAIM
                      <br>JALAN SULTAN YAHYA PETRA
                      <br>KOTA BHARU,KELANTAN DARULNAIM
                      <br>15200
                      <br>KOTA BHARU
                      <br>KELANTAN
                      <br>Tel : 09-7419102
                      <br>Fax : 09-7440034
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
