<!-- Modal -->
<div class="modal fade" id="modal-kaji-selidik" tabindex="-1" role="dialog" aria-labelledby="modal-kaji-selidikTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-kaji-selidikTitle">Soalan Kaji Selidik</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Jenis -->
          <div class="form-group">
            <p>Anda Adalah</p>
            <div class="custom-control custom-radio mb-3">
              <select class="form-control">
                <option>Pegawai/Kakitangan JAIN</option>
                <option>Pegawai/Kakitangan Jakim</option>
                <option>Bukan Pegawai/Kakitangan JAIN atau Jakim</option>
              </select>
            </div>
          </div>
          
          <hr>
          <!-- Jantina -->
          <div class="form-group">
            <p>1. Jantina</p>
            <div class="custom-control custom-radio mb-3">
              <input name="jantina" class="custom-control-input" id="jantina-1" type="radio">
              <label class="custom-control-label" for="jantina-1">Lelaki</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="jantina" class="custom-control-input" id="jantina-2" type="radio">
              <label class="custom-control-label" for="jantina-2">Perempuan</label>
            </div>
          </div>
          <!-- Umur -->
          <div class="form-group">
            <p>2. Umur</p>
            <div class="custom-control custom-radio mb-3">
              <input name="umur" class="custom-control-input" id="umur-1" type="radio">
              <label class="custom-control-label" for="umur-1">Kurang dari 18 tahun</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="umur" class="custom-control-input" id="umur-2" type="radio">
              <label class="custom-control-label" for="umur-2">19 hingga 29 tahun</label>
            </div>
          </div>
          <!-- Pekerjaan -->
          <div class="form-group">
            <p>3. Pekerjaan</p>
            <div class="custom-control custom-radio mb-3">
              <input name="3" class="custom-control-input" id="3-1" type="radio">
              <label class="custom-control-label" for="3-1">Penjawat Awam</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="3" class="custom-control-input" id="3-2" type="radio">
              <label class="custom-control-label" for="3-2">Sektor Swasta</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="3" class="custom-control-input" id="3-3" type="radio">
              <label class="custom-control-label" for="3-3">Pesara</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="3" class="custom-control-input" id="3-4" type="radio">
              <label class="custom-control-label" for="3-4">Pelajar</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="3" class="custom-control-input" id="3-5" type="radio">
              <label class="custom-control-label" for="3-5">Tidak Bekerja</label>
            </div>
          </div>
          <!-- 4 -->
          <div class="form-group">
            <p>4. Adakah SPPIM memudahkan dalam urusan nikah, cerai dan rujuk?</p>
            <div class="custom-control custom-radio mb-3">
              <input name="4" class="custom-control-input" id="4-1" type="radio">
              <label class="custom-control-label" for="4-1">Lansung tidak memudahkan</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="4" class="custom-control-input" id="4-2" type="radio">
              <label class="custom-control-label" for="4-2">Tidak memudahkan</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="4" class="custom-control-input" id="4-3" type="radio">
              <label class="custom-control-label" for="4-3">Tiada beza</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="4" class="custom-control-input" id="4-4" type="radio">
              <label class="custom-control-label" for="4-4">Memudahkan</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="4" class="custom-control-input" id="4-5" type="radio">
              <label class="custom-control-label" for="4-5">Amat memudahkan</label>
            </div>
          </div>
          <!-- 5 -->
          <div class="form-group">
            <p>5. Adakah SPPIM menjimatkan masa dalam urusan nikah, cerai dan rujuk?</p>
            <div class="custom-control custom-radio mb-3">
              <input name="5" class="custom-control-input" id="5-1" type="radio">
              <label class="custom-control-label" for="5-1">Amat tidak menjimatkan masa</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="5" class="custom-control-input" id="5-2" type="radio">
              <label class="custom-control-label" for="5-2">Tidak menjimatkan masa</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="5" class="custom-control-input" id="5-3" type="radio">
              <label class="custom-control-label" for="5-3">Tiada beza</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="5" class="custom-control-input" id="5-4" type="radio">
              <label class="custom-control-label" for="5-4">menjimatkan masa</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="5" class="custom-control-input" id="5-5" type="radio">
              <label class="custom-control-label" for="5-5">Amat menjimatkan masa</label>
            </div>
          </div>
          <!-- 6 -->
          <div class="form-group">
            <p>6. Adakah SPPIM perlu diperluaskan ke seluruh negara?</p>
            <div class="custom-control custom-radio mb-3">
              <input name="6" class="custom-control-input" id="6-1" type="radio">
              <label class="custom-control-label" for="6-1">Amat tidak perlu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="6" class="custom-control-input" id="6-2" type="radio">
              <label class="custom-control-label" for="6-2">Tidak perlu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="6" class="custom-control-input" id="6-3" type="radio">
              <label class="custom-control-label" for="6-3">Tiada beza</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="6" class="custom-control-input" id="6-4" type="radio">
              <label class="custom-control-label" for="6-4">Perlu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="6" class="custom-control-input" id="6-5" type="radio">
              <label class="custom-control-label" for="6-5">Amat perlu</label>
            </div>
          </div>
          <!-- 7 -->
          <div class="form-group">
            <p>7. Adakah SPPIM membantu dalam penyelarasan urusan Nikah, Cerai dan rujuk (NCR) seluruh negara?</p>
            <div class="custom-control custom-radio mb-3">
              <input name="7" class="custom-control-input" id="7-1" type="radio">
              <label class="custom-control-label" for="7-1">Langsung tidak membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="7" class="custom-control-input" id="7-2" type="radio">
              <label class="custom-control-label" for="7-2">Tidak membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="7" class="custom-control-input" id="7-3" type="radio">
              <label class="custom-control-label" for="7-3">Tiada beza</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="7" class="custom-control-input" id="7-4" type="radio">
              <label class="custom-control-label" for="7-4">Membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="7" class="custom-control-input" id="7-5" type="radio">
              <label class="custom-control-label" for="7-5">Amat membantu</label>
            </div>
          </div>
          <!-- 8 -->
          <div class="form-group">
            <p>8. Adakah SPPIM membantu dalam meningkatkan penguatkuasaan dalam urusan nikah, cerai dan rujuk?</p>
            <div class="custom-control custom-radio mb-3">
              <input name="8" class="custom-control-input" id="8-1" type="radio">
              <label class="custom-control-label" for="8-1">Langsung tidak membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="8" class="custom-control-input" id="8-2" type="radio">
              <label class="custom-control-label" for="8-2">Tidak membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="8" class="custom-control-input" id="8-3" type="radio">
              <label class="custom-control-label" for="8-3">Tiada beza</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="8" class="custom-control-input" id="8-4" type="radio">
              <label class="custom-control-label" for="8-4">Membantu</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input name="8" class="custom-control-input" id="8-5" type="radio">
              <label class="custom-control-label" for="8-5">Amat membantu</label>
            </div>
          </div>
          <!-- 9 -->
          <div class="form-group">
            <p>9. Sila beri sebarang komen tentang pembangunan dan pelaksanaan SPPIM di seluruh Malaysia</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary">Simpan</button>
      </div>
    </div>
  </div>
</div>