<!-- Modal -->
<div class="modal fade" id="modal-senarai-paid" tabindex="-1" role="dialog" aria-labelledby="modal-senarai-paidTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-senarai-paidTitle">Senarai PAID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item mb-2">
            <a class="nav-link active" id="pills-johor-tab" data-toggle="pill" href="#pills-johor" role="tab" aria-controls="pills-johor" aria-selected="true">Johor</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-kedah-tab" data-toggle="pill" href="#pills-kedah" role="tab" aria-controls="pills-kedah" aria-selected="false">Kedah</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-kelantan-tab" data-toggle="pill" href="#pills-kelantan" role="tab" aria-controls="pills-kelantan" aria-selected="false">Kelantan</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-melaka-tab" data-toggle="pill" href="#pills-melaka" role="tab" aria-controls="pills-melaka" aria-selected="false">Melaka</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-negeri-sembilan-tab" data-toggle="pill" href="#pills-negeri-sembilan" role="tab" aria-controls="pills-negeri-sembilan" aria-selected="false">Negeri Sembilan</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-pahang-tab" data-toggle="pill" href="#pills-pahang" role="tab" aria-controls="pills-pahang" aria-selected="false">Pahang</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-pulau-pinang-tab" data-toggle="pill" href="#pills-pulau-pinang" role="tab" aria-controls="pills-pulau-pinang" aria-selected="false">Pulau Pinang</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-perak-tab" data-toggle="pill" href="#pills-perak" role="tab" aria-controls="pills-perak" aria-selected="false">Perak</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-perlis-tab" data-toggle="pill" href="#pills-perlis" role="tab" aria-controls="pills-perlis" aria-selected="false">Perlis</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-selangor-tab" data-toggle="pill" href="#pills-selangor" role="tab" aria-controls="pills-selangor" aria-selected="false">Selangor</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-terengganu-tab" data-toggle="pill" href="#pills-terengganu" role="tab" aria-controls="pills-terengganu" aria-selected="false">Terengganu</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-sabah-tab" data-toggle="pill" href="#pills-sabah" role="tab" aria-controls="pills-sabah" aria-selected="false">Sabah</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-sarawak-tab" data-toggle="pill" href="#pills-sarawak" role="tab" aria-controls="pills-sarawak" aria-selected="false">Sarawak</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="pills-wp-tab" data-toggle="pill" href="#pills-wp" role="tab" aria-controls="pills-wp" aria-selected="false">WP</a>
          </li>
          
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-johor" role="tabpanel" aria-labelledby="pills-johor-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH BATU PAHAT</h4>
                    <p class="card-text text-sm">JALAN BAKAU CONDONG,
                      <br>83000 BATU PAHAT
                      <br>JOHOR DARUL TAKZIM
                      <br>83000
                      <br>BATU PAHAT
                      <br>JOHOR
                      <br>Tel : 074341141
                      <br>Fax : 074311003
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH KLUANG</h4>
                    <p class="card-text text-sm">ARAS 2, JALAN PEJABAT KERAJAAN
                      <br>86000
                      <br>KLUANG
                      <br>JOHOR
                      <br>Tel : 07-7728690
                      <br>Fax : 07-7713542
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH JOHOR BAHRU</h4>
                    <p class="card-text text-sm">TINGKAT 1 PUSAT ISLAM ISKANDAR
                      <br>JOHOR,JALAN MASJID ABU BAKAR
                      <br>80990
                      <br>JOHOR BAHRU
                      <br>JOHOR
                      <br>Tel : 07-2282941
                      <br>Fax : 07-2271549
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-kedah" role="tabpanel" aria-labelledby="pills-kedah-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">JABATAN HAL EHWAL AGAMA ISLAM KEDAH</h4>
                    <p class="card-text text-sm">BANGUNAN WAN MAT SAMAN
                      <br>JALAN RAJA
                      <br>05676
                      <br>ALOR SETAR
                      <br>KEDAH
                      <br>Tel : 047745400
                      <br>Fax : 047338333
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH KUBANG PASU</h4>
                    <p class="card-text text-sm">BATU 13, JALAN CHANGLUN
                      <br>06000
                      <br>JITRA
                      <br>KEDAH
                      <br>Tel : 049171213
                      <br>Fax : 049178680
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA ISLAM DAERAH PADANG TERAP</h4>
                    <p class="card-text text-sm">KOMPLEKS PEJABAT AGAMA DAERAH PADANG TERAP
                      <br>JALAN HOSPITAL
                      <br>06300
                      <br>PADANG TERAP
                      <br>KEDAH
                      <br>Tel : 04-7866219
                      <br>Fax : 04-7868462
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-kelantan" role="tabpanel" aria-labelledby="pills-kelantan-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">JABATAN HAL EHWAL AGAMA ISLAM NEGERI KELANTAN</h4>
                    <p class="card-text text-sm">KOMPLEKS DARUL NAIM
                      <br>JALAN SULTAN YAHYA PETRA
                      <br>KELANTAN DARUL NAIM
                      <br>18000
                      <br>15200
                      <br>KELANTAN
                      <br>Tel : 09-7419102
                      <br>Fax : 09-7446685
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA JAJAHAN BACHOK</h4>
                    <p class="card-text text-sm">BACHOK
                      <br>KELANTAN DARULNAIM
                      <br>16300
                      <br>BACHOK
                      <br>KELANTAN
                      <br>Tel : 097782522
                      <br>Fax : 09-7780315
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">PEJABAT AGAMA JAJAHAN KOTA BAHRU</h4>
                    <p class="card-text text-sm">KOMPLEKS ISLAM DARULNAIM
                      <br>JALAN SULTAN YAHYA PETRA
                      <br>KOTA BHARU,KELANTAN DARULNAIM
                      <br>15200
                      <br>KOTA BHARU
                      <br>KELANTAN
                      <br>Tel : 09-7419102
                      <br>Fax : 09-7440034
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>