
<!-- Modal -->
<div class="modal fade" id="modal-bno-baru" tabindex="-1" role="dialog" aria-labelledby="modal-bno-baruTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-bno-baruTitle">Syarat-syarat Permohonan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">
        <h3 id="pt-2">1. Isi Maklumat Permohonan</h3>
        <p>
          Pemohon bagi Negeri Sembilan, Melaka, Perlis, Kedah, Perak dan Wilayah Persekutuan (Kuala Lumpur, Putrajaya dan Labuan).
        </p>
        <ul> 
          <li>Diisi oleh SALAH SEORANG sama ada lelaki atau perempuan.</li>
          <li>Permohonan online perlu diisi sekiranya lelaki dan perempuan bukan dari negeri yang menggunakan SPPIM tetapi TEMPAT BERNIKAH di negeri yang menggunakan SPPIM.</li>
          <li>Pastikan tarikh cadangan berkahwin tidak melebihi 90 hari dari tarikh permohonan.</li>
          <li>Pejabat Agama yang memproses adalah merujuk kepada ALAMAT TEMPAT TINGGAL.</li>
        </ul>
        <hr>
        <h3 id="pt-2">2. Hantar Permohonan</h3>
        <ul>
          <li>Simpan No. Rujukan BNO.</li>
          <li>Permohonan boleh dikemaskini selagi permohonan lelaki dari negeri yang menggunakan SPPIM belum diproses oleh Pejabat Agama Islam Daerah (PAID).</li>
        </ul>
        <hr>
        <h3 id="pt-2">3. Cetak Senarai Semak</h3>
        <ul>
          <li>Senarai Semak berbeza mengikut STATUS pemohon dan WARGANEGARA</li>
          <li>Cetak borang berdasarkan senarai semak.</li>
        </ul>
        <hr>
        <h3 id="pt-2">4. Pengesahan Penolong Pendaftar NCR</h3>
        <ul>
          <li>Dapatkan pengesahan daripada Penolong Pendaftar Nikah, Cerai dan Rujuk (NCR) di masjid kariah kawasan tempat tinggal.</li>
        </ul>
        <hr>
        <h3 id="pt-2">5. Kelulusan Pejabat Agama Islam Daerah(PAID)</h3>
        <ul>
          <li>Dapatkan kelulusan daripada PAID.</li>
          <li>Pemohon perempuan hendaklah mendapatkan kebenaran berkahwin daripada PAID selepas pemohon lelaki mendapatkan kelulusan PAID.</li>
        </ul>
        <hr>
        <p><small>*Syarat-syarat ini boleh dirujuk dalam Bantuan pada laman utama Permohonan Kebenaran Berkahwin Online.</small></p>
        <div class="card bg-default text-center">
          <div class="card-body">
            <p class="mb-0 text-white"><strong>AMARAN:</strong> SEBARANG PEMALSUAN MAKLUMAT ATAU DOKUMEN ADALAH SATU KESALAHAN DAN BOLEH DIKENAKAN DENDA ATAU DIPENJARAKAN ATAU KEDUA-DUANYA</p>
          </div>
        </div>
        <div class="text-center">
          <a href="{% url 'bno_baru_1' %}" class="btn btn-primary">Permohonan Baru</a>
        </div>
      </div>
    </div>
  </div>
</div>